#servicesMain{
    .headerService1{
        position: relative;
        height: 400px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;

        .content1{
            position: relative;
            z-index: 1;
            margin-bottom: 150px;
            margin: 0 auto;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 1300px;

            .header-content1{
                max-width: 750px;
                margin-left: 50px;

                .span-title1{
                    margin-bottom: 0;
                    color: #fff;
                    font-size: 60px;
                    font-weight: 700;
                }
            }
        }
    }

        .header-image1{
            position: absolute;
            top: 0;
            z-index: 0;
            width: 100%;
            height: 100%;

            .image1{
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: .9;
            }
        }
        .cards{
            width: auto;
            height: auto;
            margin: 0px 250px 10px 250px;
            background-color: #f5f5f5;
            padding-bottom: 20px;
            z-index: 2;
    
            .wraper{
                margin: 0;
                width: 100%;
                justify-content: flex-start;
                flex-wrap: wrap;
                flex-direction: row;
                display: flex;
    
                .singlecard{
                    display: flex;
                    flex-direction: column;
                    border: 1px solid gray;
                    border-radius: 5px;
                    margin: 20px 35px 0px 35px;
                    text-align: center;
                    width: 400px;
                    height: auto;
                    background: #ffff;
                    padding-bottom: 10px;
                    
                    .itemContent{
                        h3{
                            font-size: 1.5vw;
                            padding-top: 10px;
                            color: black !important;
                            font-weight: normal;
                            // font-family: 'Bebas Neue', cursive;
                            font-family: 'Montserrat', sans-serif;
                        }
                   
                        @media screen and (max-device-width: 480px)  {
                            h3{
                                font-size: 20px;
                            }
                        }
                    }
                
            
                    .boxImage{
                        width: 100%;
                        height: 18vh;
                        cursor: pointer;
                    }
                }
    
                @media screen and (min-width: 1200px) and (max-device-width: 1600px)  {
                    .singlecard {
                        width: 350px;
                        height: 195px;
                        margin: 20px 15px 0px 15px;
                    }
                }
            
            }
        }
        @media screen and (min-width: 1200px) and (max-device-width: 1600px)  {
            .cards {
                width: 1140px;
                margin: 0px 150px 10px 150px;
            }
        }
    
        @media screen and (max-device-width: 480px)  {
            .cards{
                width: calc(100% - 100px);
                margin: 0px 150px 10px 50px;
            }
        }
}

