.single-work-main {
    background-image: url("/images/primary-background.webp");
    // border: 1px solid black;
    border-radius: 15px;
    .single-work-wraper {
        padding: 40px 40px 40px 40px;
        text-align: center;
        .work-title {
            font-size: 30px;
        }
        .description{
            margin-top: 20px;
            text-align: start;
            margin-bottom: 20px;
        }

        .image-slide-layout{

            margin-top: 20px;

            .text-div {
                p{
                    margin-top: 0 !important;
                }
            }

            .react-slider-div{
                margin-top: 20px;
            }
            
        }

        .single-work-buttons {
            display: flex;
            justify-content: space-between;
            .button {
                background: red;
                color: #fff;
                border-radius: 5px;
                padding: 15px 25px;
                width: fit-content;
                display: block;
                font-size: 16px;
                font-weight: 500;
                transition: all .2s ease;
                cursor: pointer;
                margin-top: 20px;
                text-transform: uppercase;
                font-family: 'Candal', sans-serif;
            }

            .button-blue {
                @extend .button;
                background-color: skyblue !important;
            }
        }
    }
}


.renovationBackground { 
    background-image: url('/images/renovation.jpeg');
}