#about-us{
    display: block;
    margin-top: 20px;

    .content-section{

        position: relative;

        .content-section-wraper{
            
            background-image: url("../../images/bg2-process.jpg");
            margin: 0 auto;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;

            max-width: 1300px;

            .header-image {
                padding-left: 15px;
                .image {
                    width: 300px;
                }
            }

            h1{
                padding-top: 40px;
                text-align: center;
                font-size: 45px;
                color: #fff
            }

            h2{
                padding-left: 40px;
                font-size: 30px;
                color: #fff;
                text-align: center;
            }
            
            p{
                margin-top: 1.5em;
                color: #222;
                margin-bottom: 1.5em;
                font-size: 20px;
                color: #fff;
                padding-left: 50px;

            }

            p:last-child {
                padding-bottom: 40px;
            }


        }
    }
}