#home{
    h2{font-family: 'Krona One', sans-serif};
    h1{font-family: 'Krona One', sans-serif};
    width: 100%;

    .home-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../../images/bg2-process.jpg");
    }
    .header-image{
        display: flex;
        width: 100%;
        background-image: url("../../images/home-slide-4.jpg");
        height: 800px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: 1px 2px 10px 5px white;
        animation: slider 30s infinite;

        @media screen and (max-width: 900px) {
            min-height: 600px;
        }

        .header-titles{
            padding: 100px 0px 0px 100px;
            h1{
                font-size: 25px;
                padding-left: 30px;
                text-shadow: 2px 2px #424242;
            }
            h2{
                font-size: 15px;
                padding-top: 10px;
                padding-left: 60px;
                text-shadow: 2px 2px #424242;
            }

            .button{
                background: red;
                color: #fff;
                border-radius: 5px;
                padding: 15px 25px;
                width: fit-content;
                display: block;
                font-size: 16px;
                font-weight: 500;
                transition: all .2s ease;
                margin: 30px 60px;
                cursor: pointer;

                h2{
                    margin-left: -40px;
                    font-size: 1vw;
                }
            }
            @media screen and (max-device-width: 480px)  {
                
                h1{
                    font-size: 20px;
                }
                h2{
                    font-size: 16px;
                }
            }
        }
        @media screen and (max-device-width: 480px)  {
            .header-titles{
                padding: 25px 0px;
            }
        }
    }

    .cards{
        width: auto;
        height: auto;
        margin: 0px 250px 10px 250px;
        background-color: #f5f5f5;
        padding-bottom: 20px;
        z-index: 2;

        .wraper{
            margin: 0;
            width: 100%;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            display: flex;

            .singlecard{
                display: flex;
                flex-direction: column;
                border: 1px solid gray;
                border-radius: 5px;
                margin: 20px 35px 0px 35px;
                text-align: center;
                width: 400px;
                height: auto;
                background: #ffff;
                padding-bottom: 10px;
                
                .itemContent{
                    h3{
                        font-size: 1.5vw;
                        padding-top: 10px;
                        color: black !important;
                        font-weight: normal;
                        font-family: 'Bebas Neue', cursive;
                    }
               
                    @media screen and (max-device-width: 480px)  {
                        h3{
                            font-size: 20px;
                        }
                    }
                }
            
        
                .boxImage{
                    width: 100%;
                    height: 18vh;
                    cursor: pointer;
                }
            }

            @media screen and (min-width: 1200px) and (max-device-width: 1600px)  {
                .singlecard {
                    width: 350px;
                    height: 195px;
                    margin: 20px 15px 0px 15px;
                }
            }
        
        }
    }

    @media screen and (min-width: 1200px) and (max-device-width: 1600px)  {
        .cards {
            width: 1140px;
            margin: 0px 150px 10px 150px;
        }
    }

    @media screen and (max-device-width: 480px)  {
        .cards{
            width: calc(100% - 100px);
            margin: -400px 150px 10px 50px;
        }
    }

}
@keyframes slider {
    50%{
        background-image: url("../../images/14.jpg");
        background-size: 100% 100%;
        transform: translateX(0%)
    }

    60%{
        background-image: url("../../images/8.jpg");
        background-size: 100% 100%;
        transform: translateX(0%)
    }

    80%{
        background-image: url("../../images/62.jpg");
        background-size: 100% 100%;
        transform: translateX(0%)
    }
    100%{
        background-image: url("../../images/7.jpg");
        background-size: 100% 100%;
        transform: translateX(0%)
    }
}