#main-footer{
    margin-top: 75px;
    background: #f5f5f5;

    .footer-contained{
        margin: 0 auto;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1300px;

        .footer-wraper{
            padding: 50px 40px;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            display: flex;

            .footer-item{
                width: calc(33% - 20px);
                max-width: 300px;
                margin: 0 10px;
                display: flex;
                flex-direction: column;

                h3{
                    margin-top: 0;
                    margin-bottom: 30px;
                    font-size: 25px;
                    clear: both;
                    overflow-wrap: break-word;
                    font-weight: bold;
                }
                
                .footer-content{
                    p{
                        margin-bottom: 1.5em;

                        a{
                            display: block;
                            transition: all .2s ease;
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
            @media screen and (max-device-width: 480px)  {
                    
                .footer-item {
                    width: auto;

                    h3{
                        margin-bottom: 10px;
                    }

                    .footer-content{
                        margin-bottom: 0px;
                    }
                }
                
            }
        }

        @media screen and (max-device-width: 480px)  {
                    
            .footer-wraper {
                padding: 20px 10px;
                display: block;
            }
            
        }

    }
}