.header-projects{
    height: auto !important;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

    .header-con-wraper{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: 100%;
        padding-left: 15px;
        max-width: 1300px;

        .header-con{
            max-width: 750px;
            margin-left: 50px;

            .page-title{
                font-size: 45px;
                margin-bottom: 0px;
                color: #fff;
                font-weight: 700;
            }
        }
    }
}

.section-wraper{
    padding: 50px 15px 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;

    .imageslide{
        margin-left: 200px;
    }

    .gallery-box{
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;

        a{
            display: block;
            width: calc(25% - 20px);
            height: 300px;
            margin: 10px;
            text-decoration: none;
            transition: all .2s ease;
            background-color: transparent;

            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
                margin: 0!important;
                opacity: 1;
                transition: opacity .4s;
                transition-delay: 0ms;
                max-width: 100%;
                border-style: none;
            }

            img:hover{
                transform: scale(2);
            }
        }
    }
}